/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* COMMON */
html {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 100%;
}

:root {
    --header-main: #202225;
    --sidebar-color: #2f3136;
    --main-color: #36393f;
    --user-color: #327eb1;
    --sidebar-grey: #85898e;
    --chat-color: #40444b;
    --icon-color: #b9bbbe;
    --sidebar-width: 70px;
}

.mt-1 {
    margin-top: 1rem;
}

/* Circles */
.circle {
    border-radius: 50%;
    overflow: hidden;
}

.giga-circle {
    height: 50px;
    width: 50px;
    margin-top: .5rem;
}

.small-circle {
    width: 25px;
    height: 25px;
    margin-top: .5rem;
}

.medium-circle {
    width: 40px;
    height: 40px;
}

.users-circle {
    width: 45px;
    height: 45px;
    margin-top: .5rem;
}

/* MAIN */
main {
    width: 100%;
    height: 100vh;
    background-color: var(--header-main);
    display: inline-block;
}

/* Header-Main Section */
.header-main {
    width: 100%;
    height: 30px;
    background-color: var(--header-main);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 .5rem;
}

.header-main i {
    padding: 0 .3rem;
    color: var(--icon-color);
}

.header-main-title {
    color: #a1a4a8;
    font-size: 1rem;
}

/* Sidebar-Servers Section */
.sidebar-servers {
    height: calc(100vh - 30px);
    width: var(--sidebar-width);
    background-color: var(--header-main);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-servers .circle:first-child {
    margin-bottom: 5px;
    background-color: var(--chat-color);
    background-image: url(../img/discord-logo.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.sidebar-servers hr {
    width: 35px;
    height: 2px;
    background-color: var(--chat-color);
    border: none;
}


/* Main-Section */
.main-section {
    display: flex;
}

.current-server {
    width: calc(100% - var(--sidebar-width));
    height: calc(100vh - 30px);
    background-color: var(--main-color);
    display: flex;
    border-top-left-radius: 10px;
}

/* Current Server Section */
/* Channel Section */
.channels {
    width: 250px;
    height: calc(100vh - 30px);
    background-color: var(--sidebar-color);
    border-top-left-radius: 10px;
    display: flex;
    flex-direction: column;
}

/* Channels-Info Section */
.channels-info {
    height: 50px;
    display: flex;
    color: white; 
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #25262a;
}

.server-name {
    font-size: 1rem;
}

.server-lvl {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    flex-wrap: wrap;
    margin-top: .5rem;
}

.lvl-bar {
    margin: .5rem 0;
    height: 5px;
    background-color: #18191c;
    width: 80%;
    border-radius: 10px;
}

.lvl {
    color: white;
    font-size: .8rem;
}

.boost {
    color: #94969a;
    font-size: .8rem;
    font-weight: 600;
}

.boost i {
    font-size: .6rem;
}

.channels hr {
    height: 1px;
    background-color: #3b3d42;
    border: none;
    width: 95%;
    margin: 0 auto;
}

/* Text-channels Section */
.text-n-voice-channels {
    color: var(--sidebar-grey);
    padding: 1rem .5rem;
    overflow: auto;
}

.text-n-voice-channels ul li {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.text-n-voice-channels h4 {
    font-size: .8rem;
}

.text-n-voice-channels ul li:not(:first-of-type) {
    margin-left: 1rem;
    padding: .3rem 0;
}

#small-icon {
    font-size: .5rem;
    line-height: 22px;
    margin-right: 5px;
}

.text-n-voice-channels ul li i {
    margin-right: .5rem;
    font-size: 1.2rem;
}

/* Voice-Channel Section */
#user {
    align-items: end;
    margin-left: 2rem;
}

.nickname {
    color: var(--sidebar-grey);
    margin-left: 10px;
}

/* Chat */
.chat {
    width: calc(100% - 500px);
    height: calc(100vh - 30px);
}
/* Chat Header Section */
.chat-header {
    height: 50px;
    background-color: #36393f;
    border-bottom: 1px solid #25262a;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chat-header i {
    color: var(--icon-color);
    font-size: 1.2rem;
    margin-left: 1rem;
}

.current-channel {
    display: flex;
    align-items: center;
}

.current-channel-title {
    margin-left: .5rem;
    color: white;
}

#users-group {
    color: white;
}

.searchbar {
    background-color: #202225;
    padding: .3rem .5rem;
    text-decoration: none;
    margin-left: .5rem;
    color: #75777a;
    border-radius: 5px;
}

/* Chat Main Section */
.chat-main {
    height: calc(100% - 150px);
    overflow: auto;
}

.user {
    display: flex;
    padding: 1rem;
}

.username {
    color: var(--user-color);
}

.message {
    color: #a1aba5;
    max-width: 800px;
}

.user span {
    color: #778080;
    font-size: .8rem;
}

.user-content {
    margin-left: 10px;
}

/* ChatBox Section */
.chatbox {
    margin-top: 2rem;
    
}

.chatbox-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #40444b;
    padding: 1rem .5rem;
    border-radius: 10px;
    text-decoration: none;
}

.type-here {
    display: flex;
    color: #666970;
    font-size: 1.2rem;
}

.chatbox-icons {
    display: flex;
}

.chatbox i {
    color: var(--icon-color);
    padding: 0 .5rem;
    font-size: 1.6rem;
}


/* Participants */
.participants {
    width: 250px;
    height: calc(100vh - 80px);
    background-color: var(--sidebar-color);
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    padding: 1rem;
    overflow: auto;
}

/* Booleaner Section */
.participants li{
    list-style-type: none;
}

.label {
    display: flex;
    align-items: center;
    color: var(--sidebar-grey);
}

.label h4 {
    font-size: .9rem;
}

.label *:not(:first-child) {
    margin-left: 5px;
}

.participants .username {
    display: flex;
    align-items: center;
}

.username span {
    margin-left: .5rem;
    font-weight: 700;
}

/* Offline Section */
.offline {
    margin-top: 2rem;
}

.offline .username {
    opacity: .3;
}
